/* need to add nav bar */
/* need to fix feature cards */
/* overview text font color */
/* need to add other realated games */


/* 
---------------------------------------------
Global Styles
--------------------------------------------- 
*/

:root{
  --online-status: rgb(53, 223, 53);
  --offline-status: grey;
  --other-status: rgb(221, 125, 0);
}
html,
body {
  background: #1f2122;
  font-family: 'Poppins', sans-serif;
}

body .page-content {
  margin-top: 110px;
  background-color: #27292a;
  padding: 60px;
  border-radius: 23px;
}

p {
  font-size: 15px;
  color: #666;
  line-height: 30px;
  margin-bottom: 0px;
}

::selection {
  background: #e75e8d;
  color: #fff;
}

::-moz-selection {
  background: #e75e8d;
  color: #fff;
}

.templatemo-item {
	max-width: 80px; 
	border-radius: 23px;
}

.main-button a {
  font-size: 14px;
  color: #fff;
  background-color: #e75e8d;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}

.main-button a:hover {
  background-color: #fff;
  color: #e75e8d;
}

.main-border-button a {
  font-size: 14px;
  color: #ec6090;
  background-color: transparent;
  border: 1px solid #ec6090;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}

.main-border-button a:hover {
  border-color: #fff;
  background-color: #fff;
  color: #e75e8d;
}

.border-no-active a {
  border-color: #666;
  color: #666;
}

.border-no-active a:hover{
  border-color: #666;
  color: #666;
  background-color: transparent;
}

section {
  margin-top: 120px;
}

.heading-section h4 {
  color: #ec6090;
  font-size: 34px;
  text-decoration: none;
  margin-bottom: 30px;
}

.heading-section h4 em {
  color: #fff;
  font-style: normal;
  text-decoration: underline;
}


/* 
---------------------------------------------
NAVBAR / HEADER
--------------------------------------------- 
*/









/* 
---------------------------------------------
Featured Friends Style
--------------------------------------------- 
*/
#small-lable{
    font-size: 20px;
}

.ps-plus{
  width: 20px;
  height: 20px;
}


.most-popular {
  margin-top: 60px;
  padding: 30px;
  background-color: #1f2122;
  border-radius: 23px;

}

.most-popular .item {
  background-color: #27292a;
  padding: 30px 15px;
  border-radius: 23px;
  margin-bottom: 30px; 
  overflow: hidden;
  height: 90%;
  position: relative;
  transition: all 400ms;
}

.item:hover{
  background-color: #383838;
  transform: scale(1.1);
  border-radius: 35px;
}

.most-popular .item img {
  border-radius: 23px;
}

.most-popular .item h4 {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 0px;
  display: inline-block;
}

.most-popular .item span {
  color: #666;
  display: block;
  margin-top: 7px;
  font-weight: 400;
}

.most-popular .item ul {
  float: right;
  margin-top: 20px;
}

.most-popular .item ul li {
  text-align: right;
  color: #fff;
  font-size: 14px;
}

.most-popular .item ul li:first-child i {
  color: yellow;
}

.most-popular .item ul li:last-child i {
  color: #ec6090;
}

.most-popular .main-button {
  text-align: center;
  margin-bottom: -53px;
}

.featured-friends__online-status{
  box-shadow:inset 1px 0px #27292a,inset -1px 0px #27292a, inset 0 -3px var(--online-status);
}
.featured-friends__offline-status{
  box-shadow:inset 1px 0px #27292a,inset -1px 0px #27292a, inset 0 -3px var(--offline-status);
}
.featured-friends__other-status{
  box-shadow:inset 1px 0px #27292a,inset -1px 0px #27292a, inset 0 -3px var(--other-status);
}

.featured-friends__primary{
  color: white;
  font-size: xx-large;
}

.featured-friends__PS-plus{
  position: absolute;
  bottom: 5%;
  right: 5%;
  transform: translate(-50,-50%);
 
}
/* 
---------------------------------------------
Banner Style
--------------------------------------------- 
*/

.main-banner {
    background-image: url(https://www.escapistmagazine.com/wp-content/uploads/2022/04/unknown.jpg?resize=1024%2C341);
    background-position: center center;
    background-size: cover;
    min-height: 380px;
    border-radius: 23px;
  }
  
  .main-banner h6 {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 25px;
  }
  
  .main-banner h4 {
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  
  .main-banner h4 em {
    font-style: normal;
    color: #ec6090;
  }

  .main-banner__tint{
    background-color: #1a131d7c;
    width: 100%;
    height: 100%;
    padding: 80px 60px;
    border-radius: 23px;
    transition: all 400ms;

    z-index: 12;
  }
  .main-banner__tint:hover{
    background-color: rgba(0, 0, 0, 0);
  }

/* 
---------------------------------------------
Game Details Style
--------------------------------------------- 
*/

.game-details h2 {
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
    margin: 60px 0px;
  }
  
  .game-details .content {
    border-radius: 23px;
    padding: 30px;
    background-color: #1f2122;
  }
  
  .game-details .content .info {
    background-color: #27292a;
    border-radius: 23px;
    padding: 30px;
    margin-bottom: 30px;
  }
  
  .game-details .content .info .left {
    float: left;
  }
  
  .game-details .content .info h4 {
    font-size: 15px;
    display: block;
  }
  
  .game-details .content .info span {
    color: #666;
    display: block;
    margin-top: 7px;
    font-weight: 400;
  }
  
  .game-details .content .info ul {
    text-align: right;
  }
  
  .game-details .content .info ul li {
    color: #fff;
    font-size: 14px;
    margin-bottom: 3px;
  }
  
  .game-details .content .info ul li:first-child i {
    color: yellow;
  }
  
  .game-details .content .info ul li:last-child i {
    color: #ec6090;
  } 
  
  .game-details .main-border-button {
    margin-top: 35px;
  }
  
  .game-details .main-border-button a {
    text-align: center;
    width: 100%;
  } 

  .number-status{
    justify-content: center;
  }
  
  .big-number{
    font-size: 45px;
  }


  .details__status{
    width: 25px;
    height: 25px;
    border-radius: 100%;
  }

  .center-content{
    justify-content: center;
    place-items: center;
  }

.sideways-text{
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.details__sideways-text{
  letter-spacing: 10px;
  justify-content: center;
  margin: auto 0px;
}

.grid_center{
  display: grid;
  place-content: center;
}

.details__status-container{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

#details__shadowbox{
  box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.527);
}

.details__status-online{
  background-color: var(--online-status);
}

.details__status-offline{
  background-color: gray;
}



/* 
---------------------------------------------
FriendsList
--------------------------------------------- 
*/

.friendsList__status{
  width: 10px;
  height: 10px;
  border-radius: 100%;
  /* border: 1px solid green; */
}
.friendsList__expand-container{
  display: flex;
  justify-content: center;

  transform: translate(0, 50%);
}
.friendsList__gameImage{
  width: 65px;
  height: 65px;
  border-radius: 12px;
}
.friendsList__primary{
  color: white;
  font-size: large;
}
.friendsList__secondary{
  color: gray;
  font-size: small;
}

.friendslist__image{
	max-width: 80px; 
	border-radius: 23px;
}

.test__gn{


}


/* 
---------------------------------------------
Popup
--------------------------------------------- 
*/

.popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(26, 26, 26, 0.336);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 55;
}
.popup__inner{
position: relative;
padding: 32px;
width: 100%;
max-width: 740px;
background-color: #1f2122;
box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.527);
border-radius: 23px;
}
.popup__item{
  padding: 15px;
  background-color: #27292a;
  border-radius: 23px;
}
.popup__left-section{
  width: 50%;
  height: 100%;
  float: left;
}
.popup__right-section{
  width: 50%;
  height: 100%;
  float: right;
  display: flex;
  justify-content: right;
}

.popup__close-btn{
position: absolute;
top: 16px;
right: 16px;
width: 20px;
height: 20px;

transition: all 400ms;
}
.popup__close-btn:hover{
transform: scale(1.2);  
}

.popup__PFP{
  width: 120px;
  height: 120px;
  border-radius: 23px;
  margin-bottom: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.popup__primary{
color: #e75e8d;
}
.popup__secondary{
  color: #666;
}
.popup__status{
  position: absolute;
  width: 17px;
  height: 17px;  
  border-radius: 100%;

  top: 135px;
  left: 135px;

  transform: translate(-50%, -50%);
}
.popup__status-online{
  background-color: var(--online-status);
}
.popup__status-offline{
  background-color: var(--offline-status);
}
.popup__game-image{
  margin-top: 10px;
  width: 100px;
  height: 100px;
  border-radius: 12px;
}
.popup__game-or-offline{
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.418);

}
.popup__game-item{
  background-color: #27292a;
  padding: 15px;
  margin: 10px;
  display: grid;
  place-items: center;
  border-radius: 23px;
}
.popup__ps-plus{
  margin-left: 15px;
}
.popup__platform-container{
  margin: 10px 0 0 20px;
}
.popup__platform-span{
  text-transform: capitalize;
  color: #e75e8d;
}
.popup__trophy-container{
  padding-top: 15px;
  justify-content: center;
  display: flex;
  width: 100%;
}
.popup__trophy-image{
  width: 55px;
  height: 55px;
  float: right;
  justify-self: right;
}
.popup__trophy-image-wrapper{
  display: flex;
  width: 100%;
  justify-content: right;
}
.popup__trophy-text{
  position: relative;
  bottom: 0;
  right: 0;
  color:white;
}
.popup__trophy-text-wrapper{
  display: grid;
  place-items: center;
} 
