
header {
  background-color: $color-navbar;
}
  
.heading-section h4 {
  color: #ec6090;
  font-size: 34px;
  text-decoration: none;
  margin-bottom: 30px;

  em{
    color: #fff;
    font-style: normal;
    text-decoration: underline;
  }
}

.background-header {
    background-color: #fff !important;
    height: 70px!important;
    position: fixed!important;
    top: 0!important;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15)!important;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    display: none;
  }
  
  .header-area {
    background-color: transparent;
    position: absolute;
    height: 70px;
    top: 15px;
    left: 0;
    right: 0;
    z-index: 100;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
  }
  
  .main-nav {
    min-height: 80px;
    background: transparent;
    display: flex;
    padding: 15px 0px;
    border-radius: 50px;
  }
  
  .background-header .main-nav {
    padding: 0px;
    background-color: transparent;
  }
  

  .main-nav .logo {
    display: flex;
    border-right: 1px solid #27292a;
    flex-basis: 35%;
    margin-right: 5%;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  
  .background-header .main-nav .logo {
    margin-top: 8px;
  }
  

  .logoImg{
    width: 60px;
    height: 60px;
    margin: 0px 10px;
  }
  
  .main-nav .nav {
    display: inline-flex;
    flex-basis: 70%;
    justify-content: flex-end;
    vertical-align: middle;
    text-align: right;
    margin-top: 0px;
    margin-right: 0px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 999;
  }
  
  .main-nav .nav li {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
  }
  
  .main-nav .nav li a {
    display: block;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    color: #666;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border: transparent;
    padding: 13px 10px;
    border-radius: 18px;
    letter-spacing: .3px;
  }
  
  .main-nav .nav li:last-child a {
    background-color: #27292a;
    padding: 8px 10px 8px 20px;
    border-radius: 23px;
  }
  
  .main-nav .nav li:last-child a img {
    max-width: 30px;
    border-radius: 50%;
    margin-left: 5px;
  }
  
  .main-nav .nav li.has-sub ul.sub-menu li:last-child a:hover,
  .background-header .main-nav .nav li.has-sub ul.sub-menu li:last-child a:hover {
    padding-left: 25px !important;
  }
  
  .main-nav .nav li:hover a,
  .main-nav .nav li a.active {
    color: #e75e8d !important;
  }
  
  .main-nav .nav li:last-child:hover a,
  .main-nav .nav li:last-child a.active {
    color: #fff !important;
    background-color: #e75e8d !important;
  }
  
  .background-header .main-nav .nav li:hover a,
  .background-header .main-nav .nav li a.active {
    color: #fff;
    opacity: 1;
  }
  
  .main-nav .nav li.has-sub {
    position: relative;
    padding-right: 15px;
  }
  
  .main-nav .menu-trigger {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 23px;
    width: 32px;
    height: 40px;
    text-indent: -9999em;
    z-index: 99;
    right: 20px;
    display: none;
  }
  
  .background-header .main-nav .menu-trigger {
    top: 17px;
  }
  
  .main-nav .menu-trigger span,
  .main-nav .menu-trigger span:before,
  .main-nav .menu-trigger span:after {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #e75e8d;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
  }
  
  .background-header .main-nav .menu-trigger span,
  .background-header .main-nav .menu-trigger span:before,
  .background-header .main-nav .menu-trigger span:after {
    background-color: #e75e8d;
  }
  
  .main-nav .menu-trigger span:before,
  .main-nav .menu-trigger span:after {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #e75e8d;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
    width: 75%;
  }
  
  .background-header .main-nav .menu-trigger span:before,
  .background-header .main-nav .menu-trigger span:after {
    background-color: #e75e8d;
  }
  
  .main-nav .menu-trigger span:before,
  .main-nav .menu-trigger span:after {
    content: "";
  }
  
  .main-nav .menu-trigger span {
    top: 16px;
  }
  
  .main-nav .menu-trigger span:before {
    -moz-transform-origin: 33% 100%;
    -ms-transform-origin: 33% 100%;
    -webkit-transform-origin: 33% 100%;
    transform-origin: 33% 100%;
    top: -10px;
    z-index: 10;
  }
  
  .main-nav .menu-trigger span:after {
    -moz-transform-origin: 33% 0;
    -ms-transform-origin: 33% 0;
    -webkit-transform-origin: 33% 0;
    transform-origin: 33% 0;
    top: 10px;
  }
  
  .main-nav .menu-trigger.active span,
  .main-nav .menu-trigger.active span:before,
  .main-nav .menu-trigger.active span:after {
    background-color: transparent;
    width: 100%;
  }
  
  .main-nav .menu-trigger.active span:before {
    -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
    -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
    -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
    transform: translateY(6px) translateX(1px) rotate(45deg);
    background-color: #e75e8d;
  }
  
  .background-header .main-nav .menu-trigger.active span:before {
    background-color: #e75e8d;
  }
  
  .main-nav .menu-trigger.active span:after {
    -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    transform: translateY(-6px) translateX(1px) rotate(-45deg);
    background-color: #e75e8d;
  }
  
  .background-header .main-nav .menu-trigger.active span:after {
    background-color: #e75e8d;
  }
  
  .header-area.header-sticky {
    min-height: 70px;
  }
  
  .header-area.header-sticky .nav li a.active {
    color: #fff;
  }
  
  @media (max-width: 1200px) {
    .main-nav .nav li {
      padding-left: 10px;
      padding-right: 10px;
    }
    .main-nav:before {
      display: none;
    }
  }
  
  @media (max-width: 992px) {
    .header-area {
      top: 0;
    }
    .main-nav {
      background-color: transparent;
      border-radius: 0px;
    }
    .main-nav .nav {
      height: auto;
      flex-basis: 100%;
    }
    .main-nav .logo {
      position: absolute;
      left: 30px;
      top: 15px;
    }
    .background-header .main-nav .logo {
      top: 0px;
    }
    .background-header .main-nav .border-button {
      top: 0px !important;
    }
    .main-nav .border-button {
      position: absolute;
      top: 15px;
      right: 70px;
    }
    .header-area.header-sticky .nav li a:hover,
    .header-area.header-sticky .nav li a.active {
      color: #e75e8d!important;
      opacity: 1;
    }
    .header-area.header-sticky .nav li.search-icon a {
      width: 100%;
    }
    .header-area {
      background-color: #f7f7f7;
      padding: 0px 15px;
      height: 80px;
      box-shadow: none;
      text-align: center;
    }
    .container {
      padding: 0px;
    }
    .logo {
      margin-left: 0px;
    }
    .menu-trigger {
      display: block !important;
    }
    .main-nav {
      overflow: hidden;
    }
    .main-nav .nav {
      float: none;
      width: 100%;
      display: none;
      -webkit-transition: all 0s ease 0s;
      -moz-transition: all 0s ease 0s;
      -o-transition: all 0s ease 0s;
      transition: all 0s ease 0s;
      margin-left: 0px;
    }
    .header-area.header-sticky .nav {
      margin-top: 65px !important;
      text-align: center;
    }
    .background-header.header-sticky .nav {
      margin-top: 70px !important;
    }
    .main-nav .nav li:first-child {
      border-top: 1px solid #eee;
    }
    .main-nav .nav li {
      width: 100%;
      background: #fff;
      border-bottom: 1px solid #eee;
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
    .main-nav .nav li a {
      height: 50px !important;
      line-height: 50px !important;
      padding: 0px !important;
      border: none !important;
      background: #fff !important;
      color: #1e1e1e !important;
    }
    .main-nav .nav li a:hover {
      background: #fff !important;
      color: #e75e8d!important;
    }
    .main-nav .nav li:last-child a img {
      display: none;
    }
    .main-nav .nav li:last-child a:hover {
      color: #ec6090 !important;
      background-color: transparent !important;
    }
    .main-nav .nav li.has-sub ul.sub-menu {
      position: relative;
      visibility: inherit;
      opacity: 1;
      z-index: 1;
      transform: translateY(0%);
      top: 0px;
      width: 100%;
      box-shadow: none;
      height: 0px;
      transition: all 0s;
    }
    .main-nav .nav li.submenu ul li a {
      font-size: 12px;
      font-weight: 400;
    }
    .main-nav .nav li.submenu ul li a:hover:before {
      width: 0px;
    }
    .main-nav .nav li.has-sub ul.sub-menu {
      height: auto;
    }
    .main-nav .nav li.has-sub:after {
      color: #3B566E;
      right: 30px;
      font-size: 14px;
      top: 15px;
    }
    .main-nav .nav li.submenu:hover ul, .header-area .main-nav .nav li.submenu:focus ul {
      height: 0px;
    }
  }
  
  